<div class="p-4">
    <h2 class="text-xl font-semibold mb-4">Cadastrados</h2>
    <select [(ngModel)]="categoriaSelecionada" (change)="itens = itemService.listarPorCategoria(categoriaSelecionada)">
        <option>Bebida</option>
        <option>Doce</option>
    </select>

    <div *ngFor="let item of itens" class="flex items-center justify-between bg-white rounded-lg shadow p-3 my-2">
        <div class="flex items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png" class="w-8 h-8 mr-3" />
            <span>{{ item.descricao }}</span>
        </div>
        <span class="font-semibold">R$ {{ item.valor | number: '1.2-2' }}</span>
    </div>
</div>
